@import './../base/settings';
@import './../base/base';

.client-heading {
    text-align: center;
    width: 100%;
    // margin: 20px auto;
}
.client-heading h2 {
    font-size: $l-size;
    color: $dark;
}
.client-heading h2:hover {
    color: $burlywood;
}
.clients {
    display: flex;
    flex-wrap: wrap;
    background-color: $extrabg;
    width: 100%;
    height: auto;
    justify-content: center;
    // margin-top: 100px;
}