@import './../base/settings';
@import './../base/base';


.clientbox {
    background-color: rgb(179, 135, 135);
    margin: 10px 20px 10px 20px;
    padding: 5px;
    width: 250px;
    height: 250px;
    height: auto;
    align-items: center;
    float: left;
    border: 1px solid black;
    box-shadow: 1px 2px 10px black;
}

.clientbox img {
    width: 150px;
    height: 100px;
    display: flex;
    margin: auto;
}
.clientbox p {
    font-size: $s-size;
    color:blue;
    text-align: center;
}