@import './../base/settings';
@import './../base/base';

.header {
    display: flex;
    background: $Gunmetal;
    padding: $s-size;
}
.header h1 {
    margin: 4px 200px 0px 50px;
    font-size: $l-size;
    color: $light;
    // margin-right: 250px;
}

.header .links {
    font-size: $s-size;
    display: flex;
    float: right;
    margin: 15px 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    color: $light;
}
.header .links:hover {
    color:$burlywood;
}