@import './../base/settings';
@import './../base/base';


.services {
    width: 100%;
    margin: 20px auto;
    
}
.services h2 {
    font-size: $l-size;
    color: $dark;
    text-align: center;
}
.services h2:hover {
    color: $burlywood;
}

.services-box {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
}

.services-box .services-heading {
    width: 30%;
    background-color: $charcoal;
}

.services-box .services-details {
    width: 70%;
    height: auto;
    background-color: $light;
}
// #serve {
//     display: none;
// }
.services-title {
    padding: 5px;
    width: 100%;
    height: 40px;
    background-color:$erieblack;
    border: 1px solid $dark;
    text-align: center;
}
.services-title:hover {
    background-color: $charcoal;
}
.services-title p {
    padding-top: 13px;
    border: none;
    font-size: $s-size;
    margin: 0;
    color: $burlywood
}

.services-details
#div1 {
    background-color: red;
}
#div2 {
    display: none;
}
#div3 {
    display: none;
}
