// Colors

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 8.0rem;
$desktop-breakpoint: 45rem;



$dark: rgb(1, 0, 27);
$burlywood: burlywood;
$light: #FEBD69;
$extrabg: rgb(34, 33, 33);
$charcoal: #37475A;
$Gunmetal: #232F3E;
$erieblack: #131A22;
$white: white;
$bluewhite: rgb(111, 143, 165);
$light2: rgb(247, 221, 188);

// reverse
// $light: #FBEEC1;
// $charcoal: #557a95;
// $dark: #FEBD69;
// $burlywood: #edf5e1;
// $charcoal: #eee2dc;
// $Gunmetal: #64485c;
// $erieblack: #adadad;
// $extrabg: #c2cad0;

